/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  height: 100vh;
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
}

button {
  background-color: white;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: transform ease-in 0.1s;
}

button:hover {
  transform: scale(1.05);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.assistance-ui {
  display: flex;
}

.smart-assist {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 638px;
  justify-content: space-around;
}

.tag-line {
  color: #18070d;
}

.apps {
  display: flex;
  flex-direction: column;
}

.upper-body {
  display: flex;
  height: 70%;
}

.app {
  width: 53%;
  height: 20%;
  margin: 0 10px;
}

.widget {
  border: 1px solid #7c7478;
  margin: 10px;
}

.widgets {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}

.insights {
  width: 150px;
  height: 80%;
}

.password-manager {
  width: 150px;
  height: 40px;
  border-radius: 10px;
}

.chat-iframe {
  width: 80px;
  height: 50%;
}

.advertisement {
  width: 75%;
  height: 80%;
}

.lower-body {
  display: flex;
  height: 30%;
  width: 100%;
  margin-top: 10px;
}

.left-panel {
  width: 25%;
}

.middle-panel {
  width: 70%;
}

.right-panel {
  width: 40%;
}

.notice-board {
  height: 100%;
}

.notice {
  height: 90%;
  overflow: scroll;
  border: 1px #8e83896b solid;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.notice-header {
  height: 10%;
  border-bottom: 1px #7c7478 solid;
}

.notice-text {
  padding-bottom: 2px;
  border-bottom: 1px #7c7478 solid;
}

.header h1 {
  margin: 7px;
}

.header {
  height: 10%;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  justify-content: space-between;
}

.voice-to-text {
  width: 40px;
  padding: 2px;
}

.meghaphone-icon {
  width: 30px;
  height: 30px;
  transform: scaleX(-1);
}

.title {
  width: 80%;
}
